<!DOCTYPE html>
<html>
<head>

</head>
<body>
<form action="/items/<%= :id %>/edit" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="item">
  <button type="submit" value="ok">Update</button>

</form>

</body>
</html>