<!DOCTYPE html>
<html>
<head>

</head>
<body>
<form action="/item/new" method="post">
  <label for="new_item">New Item</label>
  <input type="text" name="new_item">

  <button type="submit" value="ok">Submit</button>

</form>

</body>
</html>