<!DOCTYPE html>
<html>
<head>
  <title>Our List of Items</title>
  <h1>ID</h1>
</head>
<body>


<% if item.nil? %>
<% redirect '/items' %>
  <% else %>
  <%= item %> <a href="/items/<%= :id %>/edit">Update</a>
  <% end %>

</body>
</html>